<Config>
    <SimulationDir>D:\Mestrado\Projetos\fossibitmatrix.git\Simulations</SimulationDir>
    <Scenario>
        <ScenarioId>1</ScenarioId>
        <startTime>0</startTime>
        <endTime>99999999</endTime>
        <traces>D:\Mestrado\Projetos\fossibitmatrix.git\Tracer_100k_Pacotes.csv</traces>
        <Sizes>
          <bmpSize>64</bmpSize>
          <bmpSize>512</bmpSize>
          <bmpSize>16384</bmpSize>
          <bmpSize>65536</bmpSize>
        </Sizes>
        <Thresholds>
          <bmpThreshold>10</bmpThreshold>
          <bmpThreshold>30</bmpThreshold>
          <bmpThreshold>50</bmpThreshold>
          <bmpThreshold>70</bmpThreshold>
        </Thresholds>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\Fossi_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\abilene_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS1221_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS1239_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS2914_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS3257_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS3356_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\AS7018_TOPOLOGY</path>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\geant_TOPOLOGY</path>
    </Scenario>
</Config>