<Config>
    <SimulationDir>D:\Mestrado\Projetos\fossibitmatrix.git\Simulations</SimulationDir>
    <Scenario>
        <ScenarioId>1</ScenarioId>
        <startTime>0</startTime>
        <endTime>99999999</endTime>
        <traces>D:\Mestrado\Projetos\fossibitmatrix.git\Tracer_100k_Pacotes.csv</traces>
        <Sizes>
          <bmpSize>64</bmpSize>
          <bmpSize>512</bmpSize>
          <bmpSize>16384</bmpSize>
          <bmpSize>65536</bmpSize>
        </Sizes>
        <Thresholds>
          <bmpThreshold>30</bmpThreshold>
          <bmpThreshold>50</bmpThreshold>
        </Thresholds>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\abilene_TOPOLOGY</path>
		<path>D:\Mestrado\Projetos\fossibitmatrix.git\AS1221_TOPOLOGY</path>
    </Scenario>
	<Scenario>
        <ScenarioId>2</ScenarioId>
        <startTime>0</startTime>
        <endTime>99999999</endTime>
        <traces>D:\Mestrado\Projetos\fossibitmatrix.git\Tracer_1k_Pacotes.csv</traces>
        <Sizes>
          <bmpSize>65</bmpSize>
          <bmpSize>514</bmpSize>
          <bmpSize>16388</bmpSize>
          <bmpSize>65531</bmpSize>
        </Sizes>
        <Thresholds>
          <bmpThreshold>30</bmpThreshold>
          <bmpThreshold>50</bmpThreshold>
        </Thresholds>
        <path>D:\Mestrado\Projetos\fossibitmatrix.git\abilene_TOPOLOGY</path>
    </Scenario>
</Config>